.header {
  padding: 45px 0 41px;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 620px) {
  .header {
    padding: 0;
  }
  .header__logo {
    padding: 28px 0 32px 27px;
    width: 126px;
    height: 24px;
  }
}
