.page {
  font-family: Inter, Arial, sans-serif;
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 20px 0;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 621px) and (max-width: 770px) {
  .page__section {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
}

@media screen and (max-width: 620px) {
  .page__section {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
}
