.card {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 100%;
  height: 282px;
  display: block;
  object-fit: cover;
}

.card__image:hover {
  cursor: pointer;
}

.card__delete-button {
  background: url(../images/Delete.svg) no-repeat center;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 19px;
  padding: 0;
  border: none;
  transition: opacity 0.2s linear;
}

.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  align-items: center;
  background-color: #fff;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 219px;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: url(../images/Like.svg) no-repeat center;
  width: 21px;
  height: 18px;
  padding: 0;
  border: none;
  transition: opacity 0.2s linear;
}

.card__like-button_active {
  background: url(../images/like-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
